.navbar-brand {
    padding: 10px;
}

.navbar-brand>img {
    height: 30px;
    padding: 5px;
    width: auto;
}

.navbar{
    height: 60px;
    font-size:20px;
    padding: 5px;
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}


body {
    margin: 0;
    background: #000;
}

#container {
    width: 100%;
}

.bg-image {
    background: url("https://www.wallpapertip.com/wmimgs/12-123097_internet-wallpaper-hd.jpg") no-repeat center;
    height:800px;
}

#color-overlay {
    position: absolute;
    height:800px;
    width:100%;
    background-color: #000033;
    opacity: 0.6;
}

a {
    text-decoration: none;
    color: #FFF;
}

a:hover {
    color: lightblue;
}

h1 {
    font-family: Arial Narrow, sans-serif;
    color: #FFF;
    font-size: 5em;
    text-align: center;
    text-shadow: 1px 1px #000;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.sitetitle {
    position: absolute;
    color:#fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}