<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
        <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
</head>
<body>
<div id="primary_container">

    <!--There is where the navigation will go-->
    <div id="navigation">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html"></a>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/basicform">Basic Form</a></li>
                        <li><a href="#">Flask Form</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid" id="content">

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        {{ message }}

                        <a href="#" class="close" data-dismiss="alert" aria-label="close"><span
                                style="float:right">&times;</span></a>
                    </div>
                {% endfor %}

            {% endif %}
        {% endwith %}

        <div class="text-center">{% block content %}{% endblock %}</div>
    </div>

    <!--There is where the footer will go-->
    <div id="footer">
        {% block footer %}
            <footer class="sticky-footer bg-primary container-fluid mt-auto">
                <div class="container-fluid">
                    <div class="row text-center">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <span class="text-lead">&copy; Krushna Akhade </span>
                        </div>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436720/particles.js"></script>
<script src="https://res.cloudinary.com/dxfq3iotg/raw/upload/v1561436735/app.js"></script>
<script src="js/myjavascript.js"></script>
</body>
</html>