{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important {
            color: #336699;
        }
    </style>
{% endblock %}
{% block content %}

    <h1>HTML Form</h1>
    <form action="/basicform" style="border:5px solid antiquewhite"  method="POST" >
        <div class="form-group">
            <label for="formGroupExampleInput">Value1</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="value1" id="value1" name="value1" required>
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">Value2</label>
            <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="value2" id="value2" name="value2" required>
        </div>
        <fieldset>
            <legend>Operation</legend>
            <div>
                <input type="radio" name="operation" id="addition" value="addition" checked>
                <label for="addition">addition</label>
            </div>
            <div>
                <input type="radio" name="operation" id="subtraction" value="subtraction">
                <label for="subtraction">subtraction</label>
            </div>
            <div>
                <input type="radio" name="operation" id="multiplication" value="multiplication">
                <label for="multiplication">multiplication</label>
            </div>
            <div>
                <input type="radio" name="operation" id="division" value="division">
                <label for="division">division</label>
            </div>
        </fieldset>
        <input class="btn btn-primary" type="submit" value="Submit">


    </form>


{% endblock %}